VITE_API_URL=http://127.0.0.1:4000
VITE_ONCHAIN_ENABLED=true
VITE_ZKROLL_CONTRACT_ADDRESS=B62_REPLACE_WITH_DEPLOYED_ZKROLL_ADDRESS
VITE_FEE_NANOMINA=100000000
VITE_WALLET_RESPONSE_TIMEOUT_MS=120000
VITE_REFUND_TIMEOUT_SLOTS=120
VITE_O1JS_BROWSER_CACHE_ENABLED=true
VITE_TX_POLL_INTERVAL_MS=60000
VITE_SLOT_POLL_INTERVAL_MS=60000
