ZKROLL_DB_PATH=zkroll-devnet.db
ZKROLL_WEB_ORIGIN=http://127.0.0.1:5174
ZKROLL_CURRENT_SLOT_CACHE_MS=15000
ZKROLL_ZKAPP_STATE_CACHE_MS=15000
ZKROLL_TX_STATUS_SCAN_BLOCKS=50
ZKROLL_CHAIN_REQUEST_TIMEOUT_MS=12000
ZKROLL_PROVER_MODE=client
ZKROLL_PROVER_WORKERS=2
ZKROLL_PROVER_FEE_NANOMINA=100000000
ZKROLL_PROVER_DEBUG=false
ZKROLL_ADMIN_PUBLIC_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
